name: skip-android-bridge
on:
  push:
    branches: [ main ]
    tags: "[0-9]+.[0-9]+.[0-9]+"
  schedule:
    - cron:  '0 2 * * *'
  workflow_dispatch:
  pull_request:

permissions:
  contents: write

jobs:
  call-workflow:
    uses: skiptools/actions/.github/workflows/skip-framework.yml@v1
    with:
      # disable export because there are currently problems with shared PCH module cache files with multi-module native export
      runs-on: "['macos-15-intel', 'ubuntu-24.04']"
      run-export: false
      #run-local-tests: false

